@import url('https://fonts.googleapis.com/css?family=Acme');

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html,body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Acme', sans-serif;
}

#splash {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  
  h1 {
    color: #FFF;
    font-size: 38px;
  }
  
  & > div {
    display: flex;
    flex-flow: column wrap;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      color: #FFF;
      font-size: 12px;
      margin: 2px auto;
      text-transform: uppercase;
    }
  }
}

canvas {
  background: #222;
}
